#profile_driver{
    margin-top: 24px;
    .tab_headers{
        ul{
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            border-radius: 4px;
            border: solid 1px #dfdfdf;
            li{
                border-bottom: solid 1px #dfdfdf;
                position: relative;
                a{
                    cursor: pointer;
                    padding: 16px 22px;
                    font-family: Averta;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #666666;
                    display: block;
                    text-decoration: none;
                }
                &:nth-last-child(1){
                    border: none;
                }
                &:hover{
                    color: #098071;
                    &::after{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background-color: #0b8071;
                    }
                }
            }
            .active{
                a{
                    color: #098071;
                }
                &::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background-color: #0b8071;
                }
            }
        }
    }
}