#profile_driver{
    #rides{
        p{
            font-family: Averta;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: black;
        }
        .journey{
            width: 100%;
            border-radius: 4px;
            border: solid 1px #dfdfdf;
            margin-top: 20px;
            padding: 24px;
            .inputs{
                input{
                    height: 36px !important;
                    font-size: 12px;
                }
                label{
                    font-size: 16px;
                }
                input[type="date"] {
                    display:block;
                    position:relative;
                    padding:1rem 3.5rem 1rem 0.75rem;
                    
                    font-size:1rem;
                    font-family:monospace;
                    
                    background:
                      white
                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
                      right 1rem
                      center
                      no-repeat;
                    
                    cursor:pointer;
                  }
                  input[type="date"]:focus {
                    outline:none;
                    // border-color: transparent;
                    box-shadow:none;
                  }
                  
                  ::-webkit-datetime-edit {}
                  ::-webkit-datetime-edit-fields-wrapper {}
                  ::-webkit-datetime-edit-month-field:hover,
                  ::-webkit-datetime-edit-day-field:hover,
                  ::-webkit-datetime-edit-year-field:hover {
                    background:rgba(0, 120, 250, 0.1);
                  }
                  ::-webkit-datetime-edit-text {
                    opacity:0;
                  }
                  ::-webkit-clear-button,
                  ::-webkit-inner-spin-button {
                    display:none;
                  }
                  ::-webkit-calendar-picker-indicator {
                    position:absolute;
                    width:2.5rem;
                    height:100%;
                    top:0;
                    right:0;
                    bottom:0;
                    
                    opacity:0;
                    cursor:pointer;
                    
                    color:transparent;
                    background:transparent;
                   
                  }
                  
                  input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
                  input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }
            }
        }
    }
}