$main-color:#0b8071;
$bg-color: #f7f7f7;

.light-btn{
    background: none;
    border: 1px solid $main-color;
    min-width: 120px;
    padding: 5px 0px;
    border-radius: 3px;
    font-family: Averta;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $main-color;
}
.dark-btn{
    background: $main-color;
    border: 1px solid $main-color;
    min-width: 120px;
    padding: 5px 0px;
    border-radius: 3px;
    font-family: Averta;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
}